html, body{
    margin: 0;
    overflow-x: hidden;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drop-down{
    width: 200px;
    display: flex;
    flex-direction: column;
    margin: 100px;
    position: relative;
}

.drop-items{
    pointer-events: none;
    transform:translateY(-20px);
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 21px;
    width: 100%;
    opacity: 0;
    transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
}

.drop-items.active{
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.1);
}

.item{
    margin: 5px 0;
    border: none;
    background-color: transparent;
}






.carousel{
    width: fit-content;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 0 50px 0;
}

.frame{
    width: fit-content;
    display: flex;
    justify-content: center;
    transform: translateX(750px);
    transition: transform 1s;
}

.slide>img{
    width: 600px;
    height: 500px;
    object-fit: cover;
}

.slide{
    opacity: 0;
    transition: opacity 1s;
    margin: 0 -150px;
}

.slide.active{
    opacity: 1;
}

#left{
    width: 50px;
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    background-color: skyblue;

    position:absolute;
    top: 50%;
    transition: all 0.2s;
}

#right{
    width: 50px;
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    background-color: skyblue;

    position: absolute;
    top: 50%;
    right: 0;
    transition: all 0.2s;
}

#right:hover{
    box-shadow: 0 0 8px 5px rgba(247, 58, 86, 0.315);
}
#left:hover{
    box-shadow: 0 0 8px 5px rgba(247, 58, 86, 0.315);
}

.buttons{
    position: absolute;
    z-index: 1;
    width: 700px;
    height: 500px;
}

.radioBtns{
    position: absolute;
    z-index: 1;
    top: 100%;
}